@import 'src/assets/styles/_variables';
@import 'src/assets/styles/_mixins';

.list-container {
  position: relative;
}

.list-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.list-table {
  width: 100%;
  min-width: 760px;
  max-width: 100%;

  td, th {
    &.mat-cell,
    &.mat-footer-cell,
    &.mat-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: middle; 
    }

    &.mat-cell {
      &.utility {
        width: 120px;

        @media ($maxWidthMD) {
          width: 80px;
        }
      }

      &.author-name {
        width: 160px;

        @media ($maxWidthMD) {
          width: 120px;
        }
      }
    }

    &.mat-cell:first-child,
    &.mat-footer-cell:first-child,
    &.mat-header-cell:first-child,
    &.mat-cell:last-child,
    &.mat-footer-cell:last-child,
    &.mat-header-cell:last-child {
      width: 24px;
    }
  }

  td {
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .list-table-cell-likes-number {
    margin: 0 0 0 10px;
  }

  .list-cell-action {
    cursor: pointer;
  }
}
