@import 'src/assets/styles/_variables';
@import 'src/assets/styles/_mixins';

.fill-remaining-space {
  flex: 1 1 auto;
}

.header-language-label {
  margin: 0 20px 0 0;

  @media ($maxWidthLS) {
    display: none;
  }
}

mat-form-field.header-language-switcher {
  width: 50px;
}

.header-title {
  @media ($maxWidthLS) {
    font-size: 14px;
  }
}