<mat-toolbar>  
  <mat-toolbar-row>
    <span class="header-title">{{'title' | translate}}</span>
    <span class="fill-remaining-space"></span>
    <span class="header-language-label">{{'language' | translate}}</span>
    <mat-form-field class="header-language-switcher">
      <mat-select
        [value]="lang"
        (selectionChange)="onLanguageChanged($event)"
      >
        <mat-option
          *ngFor="let next of languages"
          [value]="next"
        >
          {{ next }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
