/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
}

app-list .list-container {
  position: relative;
}

.list-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.list-table {
  width: 100%;
  min-width: 760px;
  max-width: 100%;
}

.list-table td.mat-cell,
.list-table td.mat-footer-cell,
.list-table th.mat-header-cell {
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle; 
}

.list-table td.mat-cell.utility {
  width: 120px;
}

.list-table td.mat-cell.author-name {
  width: 160px;
}

.list-table td span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-table td.mat-cell:first-child,
.list-table td.mat-footer-cell:first-child,
.list-table th.mat-header-cell:first-child,
.list-table td.mat-cell:last-child,
.list-table td.mat-footer-cell:last-child,
.list-table th.mat-header-cell:last-child {
  width: 24px;
}

.list-table .list-table-cell-likes-number {
  margin: 0 0 0 10px;
}

.list-table .list-cell-action {
  cursor: pointer;
}

app-header .fill-remaining-space {
  flex: 1 1 auto;
}

app-header .header-language-label {
  margin: 0 20px 0 0;
}

app-header mat-form-field.header-language-switcher {
  width: 50px;
}

app-list-filter {
  display: inline-block;
  vertical-align: top;
}

app-list-filter mat-form-field {
  margin: 0 10px;
}

app-list-page .list-create-button {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
}

app-list-page .list-create-button .mat-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  color: rgba(0,0,0,.87);
}

app-detail .detail-form {
  position: relative;
  display: inline-block;
}

.loading-layer {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.25);
}

app-detail .detail-row {
  display: flex;
  flex-direction: row;
}

app-detail .detail-column {
  display: flex;
  flex-direction: column;
}

app-detail mat-form-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 320px;
  min-width: 320px;
}

app-detail .detail-column form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;  
}

app-detail mat-form-field.textarea-field {
  width: auto;
  max-width: 640px;
}

app-detail .detail-cover {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 320px;
  max-height: 480px;
  padding: 5px;
  text-align: center;
}

app-detail .detail-cover img {
  max-width: 310px;
  max-height: 470px;
}

app-detail .detail-avatar {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 320px;
  max-height: 120px;
  padding: 5px;
  text-align: center;
}

app-detail .detail-avatar img {
  max-width: 310px;
  max-height: 110px;
}

app-detail .detail-action {
  padding: 20px 0;
  max-width: 640px;
  text-align: center;
}

app-detail .detail-action button {
  height: 36px;
  margin: 0 5px;
}

@media screen and (max-width: 1024px) {
  .list-table td.mat-cell.utility {
    width: 80px;
  }

  .list-table td.mat-cell.author-name {
    width: 120px;
  }

  app-list-filter mat-form-field {
    margin: 0 10%;
    width: 80%;
  }

  app-list-page .list-create-button {
    display: block;
    margin: 0 auto;
  }

}

@media screen and (max-width: 760px) {
  app-header .header-title {
    font-size: 14px;
  }

  app-header .header-language-label {
    display: none;
  }

  app-detail .detail-row {
    flex-direction: column;
  }

  app-detail mat-form-field,
  app-detail .detail-column form {
    width: 100%;
  }

  app-detail .detail-cover,
  app-detail .detail-cover img {
    max-width: 100%;
  }
}